/* Menu fixo no topo */

#menu {
	border:none;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	transition: background 0.3s ease-in-out;
}
/* Quando a barra for rolada para baixo */
#menu.navbar-shrink {
	background: rgba(255,121,64, 1);
}
/* Logo Promov canto esquerdo */
#menu .navbar-brand {
	padding-top:5px;
}
#menu .navbar-brand > img {
	width: 90px;
	margin-left: 20px;
}

#menu .nav li a {
	color: #fff;
	font-family: Varela Round;
	font-size: 1.2em;
}

#menu .nav li.active a { background:none }

#home {
	/* Backgorund antigo
	background-image: url(/images/intro-background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	*/
	position: relative;
	background:none;
	height:400px;
	margin-top: -400px;
	z-index:2;
}
/* Div do Google maps */
#map_canvas {
	width:100%;
	height:400px;
	z-index: 1;
	background-color:#555;
}

#home .intro {
	padding:80px;
	background:none;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
}

#home .intro .lead-top,
#home .intro .title, 
#home .intro .lead-bottom
{ font-family: Montserrat }

#home .intro .lead-top .glyphicon { color: #e00 }

#home .intro .lead-top { margin-bottom: 0px }
#home .intro .title { margin-top:10px }
#home .intro .lead-bottom { font-size: 1.2em }
#home .intro .title,
#home .intro .lead-top 
{ font-weight: bold }

#home .intro .search {
	padding-top: 50px;
	font-family: Varela Round
}
#home .intro .search .form-control { border:none }

#home .intro .search .btn { 
	background:#ff7940; 
	border: 0;
	color: #fff;
}

.autocomplete-suggestions {
	background: #fff;
	padding: 20px;
	margin-top: 10px;
	border-radius: 6px;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.1)
}
.autocomplete-suggestion {
	font-size: 1.5em;
	color:#777;
}

#categories {
	/*background:#eee;*/
}
#categories .container {
	padding:0 60px;
}

#categories .thumbnail {
	margin:10px 0;
	padding:20px 5px;
	text-align: center;
	border:none;
	margin-bottom:0;
	color:#111 !important;
	background:#fff;
}

#categories .thumbnail .glyphicon {
	font-size: 2.5em;
	color:#000;
	/*transition: color 0.2s ease-in-out;*/
}


#categories .thumbnail > .caption {
	padding: 0px;
	font-size: 0.9em;
	color:#000;
	font-weight: lighter;
}

#categories .row :nth-child(1)  .thumbnail .glyphicon { color: #ee0000 }
#categories .row :nth-child(2)  .thumbnail .glyphicon { color: #fd2911 }
#categories .row :nth-child(3)  .thumbnail .glyphicon { color: #fc5409 }
#categories .row :nth-child(4)  .thumbnail .glyphicon { color: #fa9b01 }
#categories .row :nth-child(5)  .thumbnail .glyphicon { color: #fabd03 }
#categories .row :nth-child(6)  .thumbnail .glyphicon { color: #d1eb2a }
#categories .row :nth-child(7)  .thumbnail .glyphicon { color: #3e01a4 }
#categories .row :nth-child(8)  .thumbnail .glyphicon { color: #0097bc }
#categories .row :nth-child(9)  .thumbnail .glyphicon { color: #0247fc }
#categories .row :nth-child(10) .thumbnail .glyphicon { color: #67b231 }
#categories .row :nth-child(11) .thumbnail .glyphicon { color: #8601b0 }
#categories .row :nth-child(12) .thumbnail .glyphicon { color: #d5257a }



#cases {
	background:#fee8d1;
	padding-top: 20px;
}
#cases .nav li a {
	text-transform: uppercase;
	font-weight: bold;
	color:#000;
}
#cases .nav .active a {
	background:#bf625a;
	color:#fff;
}
#cases .tab-content {
	padding-top:40px;
}
#cases .tab-content .thumbnail {
	border:none;
	padding:0;
}
@media (max-width: 450px ) {
	#home .intro { padding: 70px 10px 10px 10px }
}


/*
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... } */